{% extends "homebase.html" %}
{% load static %}

{% block title %} {{ car.title}} {% endblock %}
{% block keywords %} {{ car.keywords }} {% endblock %}
{% block description %} {{ car.description }} {% endblock %}

{% block head %}    <!--bu homebase deki alana yazılırsa kullanıcı değiştiremez. adminden değişebilecek hale getirdik.-->
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block sidebar %}{% include "sidebar.html" %}{% endblock %}

{% block content %}


    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12" >
                    <h1 class="text-white">
                        GetTransfer
                    </h1>
                    <p class="text-white link-nav"><a href="/"> Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="blog-home.html"> Transfer Araç Detay  </a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#"> Home >>  </a></li>
                <li><a href="#">  Transfer Cars  >>  </a></li>
                <li><a href="/category/{{ car.category_id }}/{{ car.category.slug }}"> {{ car.category }} >>  </a></li>
                <li><a href="#"> {{  car.title }} </a></li>
            </ul>
        </div>
    </div>



    <!-- Start model Area -->
    <section class="model-area section-gap" id="cars">
        <div class="container">

            <div class="row d-flex justify-content-center menu-content pb-70">

                <div class="title text-center">
                    <br>
                    <h3 class="mb-10"> Transferring Car for Your Choices - {{ car.title }}</h3>
                    <hr>
                </div>
            </div>


            <div class="row justify-content-center d-flex align-items-center ">
                <div class="col-md-8">
                    <div id="car-view" >
                        <div class="car-view" class="owl-dot active">
                            <img class="img-fluid" src="{{ car.image.url }}" alt="">
                        </div>
                        {% for rs in images %}
                            <div class=" row align-items-center single-model item">
                                <img class="img-fluid" src="{{ rs.image.url }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                    <div id="car-main-view">

                        <div class="col-md-4 model-left">
                            <img class="img-fluid" src="{{ car.image.url }}" alt="">
                        </div>

                        {% for rs in images %}
                            <div class="thumb row align-items-center single-model item">
                                <div>
                                    <img class="img-fluid" src="{{ rs.image.url }}" alt="">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-wrap">
                        <div class="car-label">
                            <span>New</span>
                            <span> </span>
                        </div>
                        <h2 class="car-name">{{ car.title }}</h2>
                        <h3 class="car-price">{{ car.price }} <del class="car-old-price">{{ car.price }}</del> </h3>
                        <div>
                            <div class="car-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i>
                            </div>
                            <a href="#"> Review(s) / Add Review</a>
                        </div>
                        <p><strong> Availability:</strong> In Now Stock</p>
                        <p><strong> Marka-Model:</strong> GetTransfer</p>
                        <p><strong> {{ car.description }} </strong> </p>
                        <p><strong> {{ car.price }} / Price of One Person </strong> </p>


                        <div class="car-btns">
                            <div class="qty-input">
                                <span class="text-uppercase"> Kişi Sayısı:</span>
                                <input class="input" type="number" min="0" max="{{ car.amount }}" value="1">
                            </div>
                            <br>
                            <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart </button>
                            <div class="pull-right">
                                <button class="main-btn icon-btn"><i class="fa fa-heart"></i> </button>
                                <button class="main-btn icon-btn"><i class="fa fa-exchange"></i> </button>
                                <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i> </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 section-top-border">
                    <div class="tabbable tab-content">
                        <ul class="nav nav-tabs ">

                            <li class="active col-md-2"><a href="#tab1" data-toggle="tab"><i class="icon-briefcase"></i> DETAİLS </a> </li>
                            <li class="col-md-2"><a href="#tab2" data-toggle="tab"> REVİEWS </a> </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1">
                                <blockquote class="generic-blockquote">

                                    <p>{{ car.detail | safe }}</p>

                                </blockquote>
                            </div>


                            <div class="tab-pane fade in " id="tab2">
                                <blockquote class="generic-blockquote" background-color="white">

                                    <!-- Start comment-sec Area -->
                                    <section class="comment-sec-area pt-80 pb-80 ">
                                        <div class="container">
                                            <div class="col-md-8">
                                                <div class="row flex-column ">
                                                    <h5 class="text-uppercase pb-80">05 Comments</h5>
                                                    <br>
                                                    <div class="comment-list">
                                                        <div class="single-comment justify-content-between d-flex">
                                                            <div class="user justify-content-between d-flex">
                                                                <div class="thumb">
                                                                    <img src="img/blog/c1.jpg" alt="">
                                                                </div>
                                                                <div class="desc">
                                                                    <h5><a href="#">Emilly Blunt</a></h5>
                                                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                                                    <p class="comment">
                                                                        Never say goodbye till the end comes!
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="reply-btn">
                                                                <a href="" class="btn-reply text-uppercase">reply</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- End comment-sec Area -->

                                    <!-- Start commentform Area -->
                                    <section class="commentform-area pt-80 ">
                                        <div class="container ">
                                            <div class="col-md-4">
                                                <h5 class="pb-50">Leave a Reply</h5>
                                                <div class="row flex-row d-flex " >
                                                    <div class="col-lg-4 col-md-6">
                                                        <input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
                                                        <input name="email" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'" class="common-input mb-20 form-control" required="" type="email">
                                                        <input name="Subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Subject'" class="common-input mb-20 form-control" required="" type="text">

                                                    </div>
                                                    <div class="col-lg-8 col-md-6">
                                                        <textarea class="form-control mb-10" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                                        <a class="primary-btn mt-20" href="#">Comment</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- End commentform Area -->





                                </blockquote>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End model Area -->

{% endblock %}