{% extends "homebase.html" %}
{% load static %}

{% block title %} {{ car.title}} {% endblock %}
{% block keywords %} {{ car.keywords }} {% endblock %}
{% block description %} {{ car.description }} {% endblock %}

{% block head %}    <!--bu homebase deki alana yazılırsa kullanıcı değiştiremez. adminden değişebilecek hale getirdik.-->
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block sidebar %}{% include "sidebar.html" %}{% endblock %}

{% block content %}


    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12" >
                    <h1 class="text-white">
                        GetTransfer
                    </h1>
                    <p class="text-white link-nav"><a href="/"> Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="blog-home.html"> Transfer Araç Detay  </a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#"> Home >>  </a></li>
                <li><a href="#">  Transfer Cars  >>  </a></li>
                <li><a href="/category/{{ car.category_id }}/{{ car.category.slug }}"> {{ car.category }} >>  </a></li>
                <li><a href="#"> {{  car.title }} </a></li>
            </ul>
        </div>
    </div>



    <!-- Start model Area -->
    <section class="model-area section-gap" id="cars">
        <div class="container">

            <div class="row d-flex justify-content-center menu-content pb-70">

                <div class="title text-center">
                    <br>
                    <h3 class="mb-10 color-1"> Transferring Car for Your Choices - {{ car.title }}</h3>
                    <hr>
                </div>
            </div>


            <div class="row justify-content-center d-flex align-items-center ">
                <div class="col-md-8">
                    <div id="car-view" >
                        <div class="car-view" class="owl-dot active">
                            <img class="img-fluid" src="{{ car.image.url }}" alt="">
                        </div>
                        {% for rs in images %}
                            <div class=" row align-items-center single-model item">
                                <img class="img-fluid" src="{{ rs.image.url }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                    <div id="car-main-view">

                        <div class="col-md-4 model-left">
                            <img class="img-fluid" src="{{ car.image.url }}" alt="">
                        </div>

                        {% for rs in images %}
                            <div class="thumb row align-items-center single-model item">
                                <div>
                                    <img class="img-fluid" src="{{ rs.image.url }}" alt="">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-wrap">
                        <div class="car-label">
                            <span>New</span>
                            <span class="sale">-%20 </span>
                        </div>
                        <h2 class="car-name">{{ car.title }}</h2>
                        <h3 class="car-price">{{ car.price }} <del class="car-old-price">{{ car.price }}</del> </h3>
                        <div class="col-md-7">
                            <div class="single-review">
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                            <a href="#"> Review(s) / Add Review</a>
                        </div>

                    </div>
                    <p><strong> Availability:</strong> In Now Stock</p>
                    <p><strong> Marka-Model:</strong> GetTransfer</p>
                    <p><strong> {{ car.description }} </strong> </p>
                    <p><strong> {{ car.price }} / Price of One Person </strong> </p>


                    <div class="car-btns">
                        <div class="qty-input">
                            <span class="text-uppercase"> Kişi Sayısı:</span>
                            <input class="input" type="number" min="0" max="{{ car.amount }}" value="1">
                        </div>
                        <br>
                        <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart </button>
                        <div class="pull-right">
                            <button class="main-btn icon-btn"><i class="fa fa-heart"></i> </button>
                            <button class="main-btn icon-btn"><i class="fa fa-exchange"></i> </button>
                            <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i> </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 section-top-border">
                <div class="tabbable tab-content">
                    <ul class="nav nav-tabs ">

                        <li class="active col-md-2"><a href="#tab1" data-toggle="tab"><i class="icon-briefcase"></i> DETAİLS </a> </li>
                        <li class="col-md-2"><a href="#tab2" data-toggle="tab"> REVİEWS </a> </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                            <blockquote class="generic-blockquote">

                                <p>{{ car.detail | safe }}</p>

                            </blockquote>
                        </div>


                        <div class="tab-pane " id="tab2">
                            <blockquote class="generic-blockquote" >

                                <div class="row col-md-12">
                                    <div class="col-md-5 model-left">


                                        {% for rs in comments %}

                                            <div class="comment-list left-padding">
                                                <div class="single-comment justify-content-between d-flex">
                                                    <div class="user justify-content-between d-flex">
                                                        <div class="desc">
                                                            <div>
                                                                <a href="#"><i class="fa fa-user-o"></i> <b>{{ rs.user.first_name }}</b></a>
                                                                <p class="date"><i class="fa fa-clock-o"></i> {{ rs.create_at }}</p>
                                                            </div>
                                                            <div class="review-rating pull-right">
                                                                <span class="fa fa-star{% if rs.rate < 1 %}-o{% endif %}"></span>
                                                                <span class="fa fa-star{% if rs.rate < 2 %}-o{% endif %}"></span>
                                                                <span class="fa fa-star{% if rs.rate < 3 %}-o{% endif %}"></span>
                                                                <span class="fa fa-star{% if rs.rate < 4 %}-o{% endif %}"></span>
                                                                <span class="fa fa-star{% if rs.rate < 5 %}-o{% endif %}"></span>
                                                            </div>

                                                            <div class="review-body">
                                                                <div style="color:#BC8F8F " >{{ rs.subject }}</div>
                                                                <p>
                                                                    {{ rs.comment }}
                                                                </p>
                                                            </div>
                                                            <hr>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        {% endfor %}

                                       <!-- <div class="text-align-left">
                                            <ul class="reviews-pages text-align-left">
                                                <li class="active" >1</li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#"><i class="fa fa-caret-right"></i> </a></li>
                                            </ul>
                                        </div>
                                        -->
                                    </div>


                                    <div class="col-md-7 model-right">
                                        <h5 class="text-center"> Write about your transfer journey with this car. </h5>
                                        <hr>
                                        <br>
                                        {% if messages %}
                                            {% for message in messages  %}
                                                <div class="alert alert-{{ message.tags }}" role="alert">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        <p> Your email address will not be published. </p>

                                        <form class="row flex-row d-flex form-area contact-form text-left"  action="/car/addcomment/{{ car.id }}" method="post">
                                            {% csrf_token %}
                                            <div class="col-lg-8 col-md-6 form-group">
                                                <input name="subject" id="id_subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Subject'" class="input common-input mb-20 form-control" required="" type="text">
                                            </div>

                                            <div class="col-lg-8 col-md-6 form-group">
                                                <textarea class=" input form-control mb-10" id="id_comment" name="comment" placeholder="Your Review" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                                <div class="col-md-7 ">
                                                    <div class="star"> YOUR RATING :
                                                        <input type="radio" id="star1" name="rate" value="1"/><label for="star1"></label>
                                                        <input type="radio" id="star2" name="rate" value="2"/><label for="star2"></label>
                                                        <input type="radio" id="star3" name="rate" value="3"/><label for="star3"></label>
                                                        <input type="radio" id="star4" name="rate" value="4"/><label for="star4"></label>
                                                        <input type="radio" id="star5" name="rate" value="5"/><label for="star5"></label>
                                                    </div>
                                                </div>
                                            </div>

                                            {% if user.id is not None %}

                                                <div>
                                                    <br>
                                                    <button class="primary-btn mb-20">Send Comment</button>
                                                </div>

                                            {% else %}
                                                <p>Yorum eklemek için <a href="/login">Login</a> olunuz.</p>
                                            {% endif %}

                                        </form>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- End model Area -->

{% endblock %}