{% load static %}
<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-7 col-md-7 ">
                <h6 class="text-white ">the Royal Essence of Journey</h6>
                <h1 class="text-white text-uppercase ">
                    Relaxed Journey Ever
                </h1>
                <h4 class="pt-20 pb-20 text-white">
                    AYDOĞDU TRANSFER SİSTEMİ'NE HOŞ GELDİNİZ.<br>
                    <hr>
                </h4>
                <font color="#f4a460">
                    Transferlerimiz 'ŞEHİR' veya ''HAVALİMANI' istikametlerinde geçekleşmektedir.<br>
                    Kendinizi rahat hissedebileceğiniz -kişi sayısı sınırlı- araçlarımızı kategoriden ulaşıp inceleyerek seçebilirsiniz.<br>
                    İyi yolculuklar dileriz.  <i class="fa fa-smile-o"></i>
                </font>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

{% block slider %}
    {% include "slider.html" %}
{% endblock %}

<!-- Start blog Area -->
<section class="blog-area section-gap" class="model-area section-gap" id="blog">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Deals of The Day</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">

            {% for rs in daycars %}
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="{{ rs.image.url }}" alt="" >
                        <br>
                        <a href="/car/{{ rs.id }}/{{ rs.slug }}" class=" main-btn fa-question-circle">
                            <i class="fa fa search-widget"></i>
                            QUİCK VİEW
                        </a>
                    </div>
                    <p class="date">{{ rs.price }}</p>
                    <a href="/car/{{ rs.id }}/{{ rs.slug }}"><h4>{{ rs.title }}</h4></a>
                    <p>
                        {{ rs.model }}/ Kapasite : {{ rs.capacity }} / Ağırlık Mikrtarı : {{ rs.amount }}
                    </p>
                    <div class="meta-bottom d-flex justify-content-between">
                        <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                        <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                    </div>
                    <div class="col-lg-12 model-left">
                        <a class="text-uppercase primary-btn" href="/car/{{ rs.id }}/{{ rs.slug }}">Reservation</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- End blog Area -->


<!-- Start blog Area -->
<section class="blog-area section-gap" class="model-area section-gap" id="blog">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Latest Cars</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">

            {% for rs in lastcars %}
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="{{ rs.image.url }}" alt="" style="height: 100px ">
                        <br>
                        <a href="/car/{{ rs.id }}/{{ rs.slug }}" class=" main-btn fa-question-circle">
                            <i class="fa fa search-widget"></i>
                            QUİCK VİEW
                        </a>
                    </div>
                    <p class="date">{{ rs.price }}</p>
                    <a href="/car/{{ rs.id }}/{{ rs.slug }}"><h4>{{ rs.title }}</h4></a>
                    <p>
                        {{ rs.model }}/ Kapasite : {{ rs.capacity }} / Ağırlık Mikrtarı : {{ rs.amount }}
                    </p>

                    <div class="col-lg-12 model-left">
                        <a class="text-uppercase primary-btn" href="/car/{{ rs.id }}/{{ rs.slug }}">Reservation</a>
                    </div>

                </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- End blog Area -->
<!-- Start blog Area -->
<section class="blog-area section-gap" class="model-area section-gap" id="blog">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10"> Picked For You This Transferring Cars</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">

            {% for rs in randomcars %}
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="{{ rs.image.url }}" alt="" style="height: 100px ">
                        <br>
                        <a href="/car/{{ rs.id }}/{{ rs.slug }}" class=" main-btn fa-question-circle">
                            <i class="fa fa search-widget"></i>
                            QUİCK VİEW
                        </a>
                    </div>
                    <p class="date">{{ rs.price }}</p>
                    <a href="/car/{{ rs.id }}/{{ rs.slug }}"><h4>{{ rs.title }}</h4></a>
                    <p>
                        {{ rs.model }}/ Kapasite : {{ rs.capacity }} / Ağırlık Mikrtarı : {{ rs.amount }}
                    </p>

                    <div class="col-lg-12 model-left">
                        <a class="text-uppercase primary-btn" href="/car/{{ rs.id }}/{{ rs.slug }}">Reservation</a>
                    </div>

                </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- End blog Area -->




