{% extends "homebase.html" %}

{% block title %} Contact-{{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}    <!--bu homebase deki alana yazılırsa kullanıcı değiştiremez. adminden değişebilecek hale getirdik.-->
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
{% block content %}

    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12" >
                    <h1 class="text-white">
                        GetTransfer
                    </h1>
                    <p class="text-white link-nav"><a href="/"> Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="blog-home.html"> Contact </a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start blog-posts Area -->
    <section class="blog-posts-area section-gap">
        <div class="container">
            <div class="row ">
                <div class="col-md-4 ">
                    <p><b><font color="#8a2be2" >Bize Ulaşın.. </font></b></p>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role ="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form action="" method="post"  class="form-area contact-form text-left">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="SEND MESSAGE">
                    </form>
                </div>
                <div class="col-md-8">
                    {{ setting.contact|safe }}
                </div>

            </div>
        </div>
    </section>
    <!-- End blog-posts Area -->

{% endblock %}