{% load static %}
<header id="header" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/">
                    <img src="{% static 'img/logo.png' %}" alt="" title="" />
                </a>
            </div>

        <!--
                {% if page %}
                    <div class="category-nav">
                {% else%}

                    <div class="category-nav show-on-click">
                {% endif %}
        -->

            <nav id="nav-menu-container">

                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">HomePage</a></li>
                    <li><a href="cars.html">Cars</a></li>
                    <li><a href="/hakkimizda">Aboutus</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/references">References</a></li>

                    <li class="menu-has-children"><a href="">Pages</a>
                        <ul>
                            <li><a href="blog-single.html">Blog Single</a></li>
                            <li><a href="elements.html">Elements</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->