{% load static %}

<header id="header" id="home">

    <div class="container">
        <script>
            $(function() {
                $("#query").autocomplete({
                    source: "/search_auto/",
                    select: function (event, ui) { //item selected
                        AutoCompleteSelectHandler(event, ui)
                    },
                    minLength: 2,
                });
            });

            function AutoCompleteSelectHandler(event, ui)
            {
                var selectedObj = ui.item;
            }
        </script>

        <div class="row align-items-center justify-content-between d-flex">


            <!--
                {% if page %}
                    <div class="category-nav">
                {% else%}

                    <div class="category-nav show-on-click">
                {% endif %}
        -->

            <nav id="nav-menu-container">

                <ul class="nav-menu">



                    <li class=" example nice-select" tabindex="0">
                        <div class="search-widget col-lg-8 col-md-6 header-search ">
                            <form action="/search/"  method="post" style="margin:auto;max-width:300px">
                                {% csrf_token %}

                                {% load mptt_tags %}
                                <select name="catid" >
                                    <option value="0">All </option>
                                    {% recursetree category %}
                                        {% if node.is_leaf_node %}
                                            <option value="{{ node.id }}">{{ node.title }}</option>
                                        {% endif %}
                                        {% if not node.is_leaf_node %}
                                            <optgroup label="{{ node.title }}">
                                                {{ children }}
                                            </optgroup>
                                        {% endif %}
                                    {% endrecursetree %}

                                </select>
                                <input id="query" type="text" class="input search-input" placeholder="Search keyword" name="query">
                                <button type="search-btn"><i class="fa fa-search"></i></button>

                            </form>
                        </div>
                    </li>

                    <li class="menu-has-children dropdown left-sidebar"><a href="/category/{{ node.slug }}"><span class="lnr lnr-license"> </span> Filomuz </a>
                        <ul>

                            {% load mptt_tags %}

                            {% recursetree category %}
                                <li><a href="/category/{{ node.id }}/{{ node.slug }}">
                                    {{ node.title }}

                                    {% if not node.is_leaf_node %}
                                        <ul class="children">
                                            <li><a href= "/category/{{ node.slug }}"> {{ children }} </a> </li>
                                        </ul>
                                    {% endif %}
                                </a>
                                </li>
                            {% endrecursetree %}

                            <!--<li><a href="blog-single.html">Blog Single</a></li>
                            <li><a href="elements.html">Elements</a></li>
                            -->
                        </ul>
                    </li>
                    <li class="menu-active"><a href="/">HomePage</a></li>
                    <li><a href="cars.html">Cars</a></li>
                    <li><a href="/hakkimizda">Aboutus</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/references">References</a></li>
                    <li>
                        {% if user.id is not None %}
                            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <i class="fa fa-user-o"></i>
                                    <strong class="text-uppercase">{{ user.first_name }}</strong>
                                </div>
                            </div>
                        {% else %}
                            <a href="/login/" class="text-uppercase">Login</a>/<a href="/join/" class="text-uppercase">Join</a>
                        {% endif %}
                        <ul class="custom-menu">
                            <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
                            <li><a href="#"><i class="fa fa-exchange"></i> My Rezervations</a></li>
                            <li><a href="#"><i class="fa fa-commenting-o"></i> My Comments</a></li>
                            <li><a href="/logout/"><i class="fa fa-unlock-alt"></i> Logout</a></li>
                        </ul>
                    </li>





                </ul>
            </nav><!-- #nav-menu-container -->
            <div id="logo">
                <a href="/">
                    <img src="{% static 'img/logo.png' %}" alt="" title="" />
                </a>
            </div>
        </div>
    </div>
</header><!-- #header -->