{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Profile {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}    <!--bu homebase deki alana yazılırsa kullanıcı değiştiremez. adminden değişebilecek hale getirdik.-->
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
{% block content %}
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12" >
                    <h1 class="text-white">
                        GetTransfer
                    </h1>
                    <p class="text-white link-nav"><a href="/"> Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/user"> User Profile </a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start blog-posts Area -->
    <section class="section-gap">
        <div class="container">
            <div class="row ">
                <div class="col-md-3 ">

                    {% include "user_panel.html" %}

                </div>
                <div class="col-md-9 single-widget ">
                    <div class="text-uppercase"><h4><font color="#8a2be2"> Change Password </font></h4></div>
                    <hr>

                    {% if messages %}
                        {% for message in messages %}
                            <div style="color: #d43f3a; font-size: medium">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}


                    <form method="POST">
                        {% csrf_token %}

                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}

                                {{ field }}

                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}

                        <button class="genric-btn success radius text-uppercase" type="submit"> Save Changes</button>

                    </form>

                </div>
            </div>
        </div>
    </section>
    <!-- End blog-posts Area -->

{% endblock %}