<div class="single-widget category-widget">
    <h4 class="title text-uppercase"> <font color="#8a2be2"> Post Categories</font></h4>
    <hr>
    <ul>
        <li><a href="/user" class="justify-content-between align-items-center d-flex"><h6>User Profile</h6></a></li>
        <li><a href="/user/reservations" class="justify-content-between align-items-center d-flex"><h6>My Reservations</h6></a></li>
        <li><a href="/user/comments" class="justify-content-between align-items-center d-flex"><h6>My Comments</h6></a></li>
        <li><a href="/user/favorits" class="justify-content-between align-items-center d-flex"><h6>My Favorites</h6></a></li>
        <li><a href="/logout" class="justify-content-between align-items-center d-flex"><h6>Logout</h6></a></li>
    </ul>
</div>