{% extends "homebase.html" %}

{% block title %} Reservation Cart {% endblock %}
{% block keywords %} {{ categorydata.keywords }} {% endblock %}
{% block description %} {{ categorydata.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block sidebar %}{% include "sidebar.html" %}{% endblock %}

{% block content %}

    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12" >
                    <h1 class="text-white">
                        GetTransfer
                    </h1>
                    <p class="text-white link-nav"><a href="/"> Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/reservationcart"> Reservation Cart  </a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/"> Home >>  </a></li>
                <li><a href="/reservationcart"> Reservation Cart </a></li>
            </ul>
        </div>
    </div>

    <div class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <div>
                    <h3 class="title">Reservation Car List</h3>
                </div>

                    Reservation Completed !
                    Thank you!
                    Reservation Code : {{ reservationcode }}
                    GOOD JOURNEY :)

                </div>
            </div>
        </div>
    </div>

{% endblock %}